body {
    font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color:rgb(80, 80, 80);
}

.data-table {
    border: 1px dashed rgb(121, 121, 121);
    background-color: rgb(255, 255, 255);
}

.data-table th {
    padding: 10px 20px;
    background-color: rgb(47, 113, 146);
    color:rgb(255, 255, 255);
}

.data-table td {
    box-sizing: border-box;
    padding: 0px 12px;
    text-align: center;
}

.data-table tr:nth-child(2n + 1) {
    background-color: rgba(0, 0, 0, .01);
}
.data-table tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, .1);
}

.data-table tr:hover {
    background-color: rgba(133, 198, 241, 0.513);
}

.data-table td:first-child {
    color: rgb(151, 151, 151) !important;
    text-align: center;
    font-size: 0.8rem;
    max-width: 40px;
}

.table-actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 24px;
    opacity: 0.3;
    filter: contrast(0.9) brightness(0.9) grayscale(1) opacity(0.9);
    transition: all 0.3s ease;
}

.data-table tr:hover .table-actions{
    opacity: 1;
    filter: contrast(1) brightness(1) grayscale(0) opacity(1);
}

.action-edit a, .action-delete a {
    display: block;
    height: 20px;
}

.icon-edit, .icon-delete {
    filter: opacity(0.6);
}

.icon-edit:hover, .icon-delete:hover {
    filter: opacity(1);
}

.icon-edit, .icon-delete {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
}

.icon-edit {
    background-image: url("../images/icon-edit.svg");
}

.icon-delete {
    background-image: url("../images/icon-delete.svg");
}
