* {
    font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color:rgb(80, 80, 80);
}

.data-table {
    border: 1px dashed rgb(121, 121, 121);
    background-color: rgb(255, 255, 255);
}

.data-table th {
    padding: 10px 20px;
    background-color: rgb(47, 113, 146);
    color:rgb(255, 255, 255);
}

.data-table td {
    text-align: center;
}

.data-table tr:nth-child(2n + 1) {
    background-color: rgba(0, 0, 0, .01);
}
.data-table tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, .1);
}

.data-table tr:hover {
    background-color: rgba(133, 198, 241, 0.513);
}

.data-table td:first-child {
    color: rgb(151, 151, 151) !important;
    text-align: center;
    font-size: 0.8rem;
    max-width: 40px;
}

.table-actions {
    display: flex;
    justify-content: space-evenly;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.data-table tr:hover .table-actions{
    opacity: 1;
}

.action-edit a, .action-delete a {
    padding: 0 8px;
    text-decoration-style: dotted;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: inherit;
}

.action-edit a {
    color: gray;
}

.action-edit:hover a {
    color: rgb(0, 58, 0);
    text-decoration-color: transparent;
    background-color: rgb(155, 255, 155);
}

.action-delete a {
    color: rgb(177, 48, 48);
}

.action-delete:hover a {
    color: rgb(255, 255, 255);
    text-decoration-color: transparent;
    background-color: rgb(255, 123, 123);
}